        <form novalidate name="form" ng-submit="addQuestion(form.$valid)">
            <div class="form-group" ng-class="{ 'has-error' : form.id.$error.unique && !form.id.$pristine }">
                <label>ID:</label>
                <input type="num" 
                    class="form-control" 
                    name="id" ng-model="question.id"
                    placeholder="Unique ID" unique  required>
            </div>
            <div class="form-group">
                <label>Word</label>
                <input type="text" 
                    class="form-control"
                    placeholder="Correct word" 
                    ng-model="question.word" required>
            </div>
            <div class="form-group">
                <label>Choices</label>
                <input type="text" 
                    class="form-control" 
                    ng-model="question.choices"
                    placeholder='Enumerate choices separated by "," ' required>
            </div>
            <div class="form-group">
                <label>Text</label>
                <textarea class="form-control" 
                    ng-model="question.text"
                    placeholder="Description..."
                    rows="2" required></textarea>
            </div>
            <div class="well text-center">
                <button type="submit" 
                    ng-disabled="form.$invalid" 
                    class="btn btn-primary">Save Question</button>

                <button type="button"  
                    class="btn btn-default" ng-click="cancel(form)">Cancel</button>
            </div>
          </form>